# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-detectable=false
*.TEX linguist-detectable=false
*.toc linguist-detectable=false
*.txt linguist-detectable=false
*.py linguist-detectable=true
